$color-one: #000000;
$color-two: #7f7f7f;
$color-three: #e7e6e6;
$color-four: #ffffff;
$color-fife: #ebd96b;
$color-six: #191919;
$color-seven: #ebeae7;
$color-eight: #231300;
$color-nine: #7c7c7c;
$color-ten: #8e8e8e;
$color-eleven: #d9d9d9;
$color-twelve: #fefefe;

// змінні для адаптації
$bp-mobile: 480px;
$bp-footer: 668px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
